@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
/* font-family: 'Nerko One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */

/*Media query's converted to em*/
/* Xpx / 16 = em
 75em - 1200px
/68.75em - 1100px
56.25em - 900px
43.75em - 700px
25em - 400px
*/

:root {
  --baseColor: #512c73;
  --baseColor-Dark: #200439;
  --baseColor-Dark-2: #361356;
  --baseColor-Dark-3: #200439d7;
  --baseColor-Light: #6f4d8f;
  --baseColor-Light-2: #9277ac;
  --alert: #f54712;
  --success: #88ff00;
  --overlay-color: rgba(5.1, 3.9, 4.7, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: var(--baseColor);
  color: var(--baseColor-Light-2);
}
